/tp7bEj1/nbproject/private/
/filesystems/nbproject/private/
/tp7bEj2/nbproject/private/
/tp7bEj2/build/
/tp7bEj1/build/
/tp8Ej1/nbproject/private/
/tp8Ej1/build/
/tp8Ej2/nbproject/private/
/tp8Ej2/build/
/tp8Ej2/dist/
/Parcialito4/nbproject/private/
/Parcialito4/build/
/tp8Ej3/nbproject/private/
/tp8Ej3/build/
/tp8Ej3/dist/
/tp8Ej4/nbproject/private/
/tp8Ej4/build/
/Tp9Ej1/nbproject/private/
/Tp9Ej1/build/
/Tp9Ej1/dist/
/Tp9Ej2/nbproject/private/
/Tp9Ej3/nbproject/private/
/Tp9Ej3/build/
/Tp9Ej3/dist/
/Tp9Ej4/nbproject/private/
/Tp9Ej4/build/
/Tp9Ej4/dist/
/Tp9Ej5/nbproject/private/
/Tp9Ej6/nbproject/private/
/Tp9Ej6/build/
/Tp9Ej6/dist/
/Tp9Ej2(denuevo)/nbproject/private/
/libreriasaltarin/nbproject/private/
/TpePROG/nbproject/private/
/Parcial/nbproject/private/
/Parcial/build/
/Parcial/dist/
/Recu2021/nbproject/private/
/Recu2021(2)/nbproject/private/
/Recu2021(2)/build/
/ParcialViejo/nbproject/private/
/ParcialViejo/dist/
/ParcialViejo/build/
/TpePROG/dist/
/TpePROG/build/
/Farmacia2/nbproject/private/
/TpLista/nbproject/private/
/TpLista/build/
/TpLista/dist/
/TpRecursividad/nbproject/private/
/TpRecursividad/build/
